package components

templ Calculator(number string) {
  <div class="calc">
    @Input(number)

    @Button("1", "1")
    @Button("2", "2")
    @Button("3", "3")
    @Button("add", "+")

    @Button("4", "4")
    @Button("5", "5")
    @Button("6", "6")
    @Button("sub", "-")

    @Button("7", "7")
    @Button("8", "8")
    @Button("9", "9")
    @Button("div", "/")

    @Button("period", ".")
    @Button("0", "0")
    @Button("clear", "C")
    @Button("mult", "*")
    @Button("eq", "=")

  </div>
}
