package components

templ Page(number string) {
  <!DOCTYPE html>
  <html>
    <head>
      @Links()
    </head>
    <body>
      <div>
        @Calculator(number)
      </div>
    </body>
  </html>
}
